In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from scipy.stats import skew
from sklearn.preprocessing import LabelEncoder
from sklearn import tree

In [30]:
df=pd.read_csv("D:\\loan.csv")

In [31]:
df

,customer.id,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,pub.rec,inq.last.6mths,delinq.2yrs,paid.back.loan
0,LA001,Yes,debt_consolidation,11.89%,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,Less than 5,No,Yes
1,LA002,Yes,credit_card,10.71%,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,Less than 5,No,Yes
2,LA003,Yes,debt_consolidation,13.57%,366.86,10.373491,11.63,682,4710.000000,3511,25.6,0,Less than 5,No,Yes
3,LA004,Yes,debt_consolidation,10.08%,162.34,11.350407,8.10,712,2699.958333,33667,73.2,0,Less than 5,No,Yes
4,LA005,Yes,credit_card,14.26%,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,Less than 5,Yes,Yes
5,LA006,Yes,credit_card,7.88%,125.13,11.904968,16.98,727,6120.041667,50807,51.0,0,Less than 5,No,Yes
6,LA007,Yes,debt_consolidation,14.96%,194.02,10.714418,4.00,667,3180.041667,3839,76.8,1,Less than 5,No,No
7,LA008,Yes,all_other,11.14%,131.22,11.002100,11.08,722,5116.000000,24220,68.6,0,Less than 5,No,No
8,LA009,Yes,home_improvement,11.34%,87.19,11.407565,17.25,682,3989.000000,69909,51.1,0,Less than 5,No,Yes
9,LA0010,Yes,debt_consolidation,12.21%,84.12,10.203592,10.00,707,2730.041667,5630,23.0,0,Less than 5,No,Yes
10,LA0011,Yes,debt_consolidation,13.47%,360.43,10.434116,22.09,677,6713.041667,13846,71.0,1,Less than 5,No,Yes
11,LA0012,Yes,debt_consolidation,13.24%,253.58,11.835009,9.16,662,4298.000000,5122,18.2,0,Less than 5,Yes,Yes
12,LA0013,Yes,debt_consolidation,8.59%,316.11,10.933107,15.49,767,6519.958333,6068,16.7,0,Less than 5,No,Yes
13,LA0014,Yes,small_business,7.14%,92.82,11.512925,6.50,747,4384.000000,3021,4.8,0,Less than 5,Yes,Yes
14,LA0015,Yes,debt_consolidation,8.63%,209.54,9.487972,9.73,727,1559.958333,6282,44.6,0,Less than 5,No,Yes
15,LA0016,Yes,major_purchase,11.03%,327.53,10.738915,13.04,702,8159.958333,5394,53.4,0,Less than 5,No,Yes
16,LA0017,Yes,all_other,13.17%,77.69,10.522773,2.26,672,3895.958333,2211,88.4,0,Less than 5,No,Yes
17,LA0018,Yes,credit_card,8.94%,476.58,11.608236,7.07,797,6510.958333,7586,52.7,0,Less than 5,No,Yes
18,LA0019,Yes,debt_consolidation,10.39%,584.12,10.491274,3.80,712,2760.000000,8311,59.8,0,Less than 5,No,Yes
19,LA0020,Yes,major_purchase,15.13%,173.65,11.002100,2.74,667,1126.958333,591,84.4,0,Less than 5,No,Yes
20,LA0021,Yes,all_other,8.00%,188.02,11.225243,16.08,772,4888.958333,29797,23.2,0,Less than 5,No,Yes
21,LA0022,Yes,all_other,8.63%,474.42,10.819778,2.59,797,11951.000000,5656,27.6,0,Less than 5,No,Yes
22,LA0023,Yes,credit_card,13.55%,339.60,11.512925,7.94,662,1939.958333,21162,57.7,0,Less than 5,No,Yes
23,LA0024,Yes,credit_card,7.88%,484.85,11.736069,7.05,782,5640.041667,16931,34.6,0,Less than 5,No,Yes
24,LA0025,Yes,debt_consolidation,12.29%,320.19,11.264464,8.80,672,3760.958333,4822,58.1,1,Less than 5,No,Yes
25,LA0026,Yes,all_other,9.01%,159.03,12.429216,10.00,712,1553.958333,14354,36.6,0,Less than 5,Yes,Yes
26,LA0027,Yes,all_other,7.43%,155.38,11.082143,0.28,802,4649.958333,1576,5.7,0,Less than 5,No,Yes
27,LA0028,Yes,debt_consolidation,13.75%,255.43,9.998798,14.29,662,1318.958333,4175,51.5,0,Less than 5,Yes,Yes
28,LA0029,Yes,all_other,7.43%,155.38,12.206073,0.28,772,4516.958333,3164,13.7,0,Less than 5,No,Yes
29,LA0030,Yes,all_other,7.43%,155.38,12.206073,3.72,812,6778.958333,85607,0.7,0,Less than 5,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9548,LA009549,No,home_improvement,16.07%,87.99,10.778956,14.20,667,4080.000000,1530,36.4,0,Less than 10,No,No
9549,LA009550,No,home_improvement,21.64%,729.70,11.877569,8.63,667,8280.041667,55442,66.9,1,Less than 10,No,No
9550,LA009551,No,all_other,14.59%,137.86,10.085809,1.15,732,1230.041667,972,11.3,0,Less than 10,No,Yes
9551,LA009552,No,home_improvement,13.48%,508.87,11.736069,16.85,707,7440.041667,206877,92.5,0,Less than 5,No,No
9552,LA009553,No,debt_consolidation,13.11%,337.45,10.691945,23.62,702,3780.041667,6255,56.9,0,Less than 10,Yes,Yes
9553,LA009554,No,debt_consolidation,13.85%,545.67,11.775290,10.80,697,4110.000000,197716,74.9,0,Less than 5,No,Yes
9554,LA009555,No,small_business,15.33%,870.71,11.842229,16.16,707,4230.041667,56909,49.8,0,Less than 10,No,Yes
9555,LA009556,No,home_improvement,13.11%,674.90,12.292250,9.94,717,5730.041667,39576,27.7,0,Less than 10,No,No
9556,LA009557,No,debt_consolidation,13.85%,136.42,11.002100,18.18,677,3423.041667,15301,85.0,0,Less than 5,No,Yes
9557,LA009558,No,credit_card,10.25%,466.35,12.206073,13.97,722,6120.041667,338935,78.3,0,Less than 5,No,Yes
9558,LA009559,No,debt_consolidation,15.33%,696.57,11.805595,17.21,682,2790.041667,38578,86.9,0,Less than 5,No,Yes
9559,LA009560,No,credit_card,12.73%,688.11,11.314475,21.13,732,5881.000000,35227,54.3,0,Less than 10,No,Yes
9560,LA009561,No,all_other,18.67%,547.36,11.407565,15.76,667,10050.041670,13255,88.4,0,Less than 10,No,Yes
9561,LA009562,No,all_other,7.88%,115.74,10.999095,10.17,722,4410.000000,11586,61.6,0,Less than 5,No,Yes
9562,LA009563,No,debt_consolidation,13.48%,508.87,10.933107,17.76,717,3870.041667,8760,28.2,0,Less than 10,No,Yes
9563,LA009564,No,debt_consolidation,10.99%,556.50,11.225243,17.84,727,6840.041667,18753,29.0,0,Less than 5,No,No
9564,LA009565,No,all_other,13.85%,511.56,12.323856,12.33,687,6420.041667,385489,51.2,0,Less than 5,No,Yes
9565,LA009566,No,all_other,14.59%,396.35,10.308953,21.04,697,3390.000000,26117,78.4,0,Less than 10,No,No
9566,LA009567,No,all_other,21.64%,551.08,11.002100,24.06,662,1800.000000,16441,49.8,0,Less than 10,No,No
9567,LA009568,No,all_other,13.11%,101.24,10.968198,8.23,687,2790.041667,1514,13.8,0,Less than 10,No,Yes
9568,LA009569,No,all_other,19.79%,37.06,10.645425,22.17,667,5916.000000,28854,59.8,1,Less than 10,No,Yes
9569,LA009570,No,home_improvement,14.26%,823.34,12.429216,3.62,722,3239.958333,33575,83.9,0,Less than 10,No,No
9570,LA009571,No,all_other,16.71%,113.63,10.645425,28.06,672,3210.041667,25759,63.8,0,Less than 10,No,No
9571,LA009572,No,all_other,15.68%,161.01,11.225243,8.00,677,7230.000000,6909,29.2,1,Less than 5,No,No
9572,LA009573,No,debt_consolidation,15.65%,69.98,10.110472,7.02,662,8190.041667,2999,39.5,0,Less than 10,No,No
9573,LA009574,No,all_other,14.61%,344.76,12.180755,10.39,672,10474.000000,215372,82.1,0,Less than 5,No,No
9574,LA009575,No,all_other,12.53%,257.70,11.141862,0.21,722,4380.000000,184,1.1,0,Less than 10,No,No
9575,LA009576,No,debt_consolidation,10.71%,97.81,10.596635,13.09,687,3450.041667,10036,82.9,0,Less than 10,No,No
9576,LA009577,No,home_improvement,16.00%,351.58,10.819778,19.18,692,1800.000000,0,3.2,0,Less than 10,No,No
9577,LA009578,No,debt_consolidation,13.92%,853.43,11.264464,16.28,732,4740.000000,37879,57.0,0,Less than 10,No,No

In [32]:
df.isnull().sum()

customer.id          0
credit.policy        0
purpose              0
int.rate             0
installment          0
log.annual.inc       0
dti                  0
fico                 0
days.with.cr.line    0
revol.bal            0
revol.util           0
pub.rec              0
inq.last.6mths       0
delinq.2yrs          0
paid.back.loan       0
dtype: int64

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 15 columns):
customer.id          9578 non-null object
credit.policy        9578 non-null object
purpose              9578 non-null object
int.rate             9578 non-null object
installment          9578 non-null float64
log.annual.inc       9578 non-null float64
dti                  9578 non-null float64
fico                 9578 non-null int64
days.with.cr.line    9578 non-null float64
revol.bal            9578 non-null int64
revol.util           9578 non-null float64
pub.rec              9578 non-null int64
inq.last.6mths       9578 non-null object
delinq.2yrs          9578 non-null object
paid.back.loan       9578 non-null object
dtypes: float64(5), int64(3), object(7)
memory usage: 1.1+ MB

In [34]:
df.describe()

,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,pub.rec
count,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9.578000e+03,9578.000000,9578.000000
mean,319.089413,10.932117,12.606679,710.846314,4560.767197,1.691396e+04,46.799236,0.062122
std,207.071301,0.614813,6.883970,37.970537,2496.930377,3.375619e+04,29.014417,0.262126
min,15.670000,7.547502,0.000000,612.000000,178.958333,0.000000e+00,0.000000,0.000000
25%,163.770000,10.558414,7.212500,682.000000,2820.000000,3.187000e+03,22.600000,0.000000
50%,268.950000,10.928884,12.665000,707.000000,4139.958333,8.596000e+03,46.300000,0.000000
75%,432.762500,11.291293,17.950000,737.000000,5730.000000,1.824950e+04,70.900000,0.000000
max,940.140000,14.528354,29.960000,827.000000,17639.958330,1.207359e+06,119.000000,5.000000

In [35]:
df.dtypes

customer.id           object
credit.policy         object
purpose               object
int.rate              object
installment          float64
log.annual.inc       float64
dti                  float64
fico                   int64
days.with.cr.line    float64
revol.bal              int64
revol.util           float64
pub.rec                int64
inq.last.6mths        object
delinq.2yrs           object
paid.back.loan        object
dtype: object

In [36]:
for col in df:
    col,":",df[col].unique()
    print(col,":",df[col].unique())

customer.id : ['LA001' 'LA002' 'LA003' ... 'LA009576' 'LA009577' 'LA009578']
credit.policy : ['Yes' 'No']
purpose : ['debt_consolidation' 'credit_card' 'all_other' 'home_improvement'
 'small_business' 'major_purchase' 'educational']
int.rate : ['11.89%' '10.71%' '13.57%' '10.08%' '14.26%' '7.88%' '14.96%' '11.14%'
 '11.34%' '12.21%' '13.47%' '13.24%' '8.59%' '7.14%' '8.63%' '11.03%'
 '13.17%' '8.94%' '10.39%' '15.13%' '8.00%' '13.55%' '12.29%' '9.01%'
 '7.43%' '13.75%' '8.07%' '10.28%' '8.70%' '11.22%' '9.96%' '9.33%'
 '8.38%' '7.75%' '10.59%' '15.96%' '11.54%' '13.43%' '12.49%' '9.64%'
 '11.86%' '15.01%' '12.80%' '10.91%' '12.17%' '15.33%' '7.12%' '14.38%'
 '15.65%' '14.67%' '13.12%' '14.70%' '14.07%' '10.14%' '10.46%' '13.30%'
 '9.83%' '13.93%' '9.20%' '12.36%' '13.62%' '10.78%' '15.83%' '11.09%'
 '11.41%' '12.67%' '12.04%' '9.51%' '11.72%' '12.99%' '14.88%' '15.20%'
 '14.25%' '18.36%' '16.15%' '6.00%' '8.32%' '12.61%' '9.45%' '11.97%'
 '13.87%' '9.76%' '12.92%' '7.37%' '7.68%' '11.66%' '14.18%' '15.45%'
 '14.82%' '17.03%' '14.50%' '16.71%' '15.76%' '16.08%' '16.40%' '17.34%'
 '10.51%' '15.70%' '12.22%' '12.73%' '13.79%' '12.53%' '11.28%' '12.86%'
 '12.87%' '9.70%' '10.01%' '15.38%' '11.91%' '12.54%' '11.59%' '13.80%'
 '10.96%' '10.64%' '13.49%' '10.33%' '14.75%' '16.01%' '15.07%' '14.12%'
 '16.33%' '16.96%' '11.46%' '13.04%' '12.72%' '12.09%' '10.83%' '11.78%'
 '12.41%' '15.88%' '9.07%' '10.20%' '13.36%' '15.57%' '9.38%' '14.93%'
 '14.62%' '13.67%' '9.63%' '11.26%' '14.42%' '11.48%' '13.99%' '15.25%'
 '14.30%' '13.92%' '19.04%' '18.72%' '16.20%' '17.15%' '15.68%' '9.88%'
 '10.62%' '17.46%' '9.32%' '14.11%' '15.05%' '13.16%' '16.00%' '11.58%'
 '12.84%' '10.95%' '16.95%' '14.74%' '15.37%' '16.32%' '7.51%' '14.22%'
 '12.18%' '16.63%' '17.26%' '18.53%' '13.48%' '15.31%' '16.35%' '17.90%'
 '17.58%' '18.43%' '18.21%' '11.83%' '7.40%' '16.82%' '7.74%' '13.22%'
 '20.86%' '14.61%' '13.11%' '19.16%' '18.84%' '16.07%' '20.11%' '16.70%'
 '19.79%' '17.39%' '17.04%' '19.13%' '17.74%' '7.05%' '18.78%' '18.09%'
 '20.17%' '19.82%' '19.47%' '21.21%' '14.59%' '13.85%' '10.25%' '10.99%'
 '11.36%' '20.52%' '17.19%' '6.39%' '16.45%' '6.76%' '17.93%' '20.90%'
 '20.16%' '18.30%' '19.41%' '17.56%' '16.91%' '17.54%' '17.22%' '16.28%'
 '17.86%' '16.59%' '17.41%' '17.09%' '14.57%' '18.04%' '16.46%' '15.51%'
 '17.72%' '18.29%' '18.61%' '17.97%' '17.66%' '18.54%' '16.65%' '17.91%'
 '18.86%' '17.59%' '14.43%' '17.28%' '19.36%' '16.83%' '17.78%' '21.64%'
 '18.67%']
installment : [829.1  228.22 366.86 ... 161.01 257.7  853.43]
log.annual.inc : [11.35040654 11.08214255 10.37349118 ... 12.29225034 10.99909533
 10.11047245]
dti : [19.48 14.29 11.63 ... 10.31 23.74 24.05]
fico : [737 707 682 712 667 727 722 677 662 767 747 702 672 797 772 782 802 812
 742 692 777 762 757 787 717 752 792 627 687 697 732 822 632 807 817 827
 642 647 652 657 637 612 617 622]
days.with.cr.line : [ 5639.958333  2760.        4710.       ...  3423.041667  5916.
 10474.      ]
revol.bal : [28854 33623  3511 ...   184 10036 37879]
revol.util : [ 52.1   76.7   25.6  ... 104.3  106.4   69.14]
pub.rec : [0 1 2 3 4 5]
inq.last.6mths : ['Less than 5' 'Less than 10' 'Less than 40' 'Less than 20']
delinq.2yrs : ['No' 'Yes']
paid.back.loan : ['Yes' 'No']

In [37]:
df["int.rate"]=df["int.rate"].str.replace("%","",regex=True)

In [38]:
df["int.rate"]

0       11.89
1       10.71
2       13.57
3       10.08
4       14.26
5        7.88
6       14.96
7       11.14
8       11.34
9       12.21
10      13.47
11      13.24
12       8.59
13       7.14
14       8.63
15      11.03
16      13.17
17       8.94
18      10.39
19      15.13
20       8.00
21       8.63
22      13.55
23       7.88
24      12.29
25       9.01
26       7.43
27      13.75
28       7.43
29       7.43
        ...
9548    16.07
9549    21.64
9550    14.59
9551    13.48
9552    13.11
9553    13.85
9554    15.33
9555    13.11
9556    13.85
9557    10.25
9558    15.33
9559    12.73
9560    18.67
9561     7.88
9562    13.48
9563    10.99
9564    13.85
9565    14.59
9566    21.64
9567    13.11
9568    19.79
9569    14.26
9570    16.71
9571    15.68
9572    15.65
9573    14.61
9574    12.53
9575    10.71
9576    16.00
9577    13.92
Name: int.rate, Length: 9578, dtype: object

In [39]:
df.head()

,customer.id,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,pub.rec,inq.last.6mths,delinq.2yrs,paid.back.loan
0,LA001,Yes,debt_consolidation,11.89,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,Less than 5,No,Yes
1,LA002,Yes,credit_card,10.71,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,Less than 5,No,Yes
2,LA003,Yes,debt_consolidation,13.57,366.86,10.373491,11.63,682,4710.000000,3511,25.6,0,Less than 5,No,Yes
3,LA004,Yes,debt_consolidation,10.08,162.34,11.350407,8.10,712,2699.958333,33667,73.2,0,Less than 5,No,Yes
4,LA005,Yes,credit_card,14.26,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,Less than 5,Yes,Yes

In [40]:
df["int.rate"]=df["int.rate"].astype(float)

In [41]:
df["int.rate"]

0       11.89
1       10.71
2       13.57
3       10.08
4       14.26
5        7.88
6       14.96
7       11.14
8       11.34
9       12.21
10      13.47
11      13.24
12       8.59
13       7.14
14       8.63
15      11.03
16      13.17
17       8.94
18      10.39
19      15.13
20       8.00
21       8.63
22      13.55
23       7.88
24      12.29
25       9.01
26       7.43
27      13.75
28       7.43
29       7.43
        ...
9548    16.07
9549    21.64
9550    14.59
9551    13.48
9552    13.11
9553    13.85
9554    15.33
9555    13.11
9556    13.85
9557    10.25
9558    15.33
9559    12.73
9560    18.67
9561     7.88
9562    13.48
9563    10.99
9564    13.85
9565    14.59
9566    21.64
9567    13.11
9568    19.79
9569    14.26
9570    16.71
9571    15.68
9572    15.65
9573    14.61
9574    12.53
9575    10.71
9576    16.00
9577    13.92
Name: int.rate, Length: 9578, dtype: float64

In [42]:
df.dtypes

customer.id           object
credit.policy         object
purpose               object
int.rate             float64
installment          float64
log.annual.inc       float64
dti                  float64
fico                   int64
days.with.cr.line    float64
revol.bal              int64
revol.util           float64
pub.rec                int64
inq.last.6mths        object
delinq.2yrs           object
paid.back.loan        object
dtype: object

In [43]:
df_num=df.select_dtypes(["int64","float64"])

In [44]:
df_num.head()

,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,pub.rec
0,11.89,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0
1,10.71,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0
2,13.57,366.86,10.373491,11.63,682,4710.000000,3511,25.6,0
3,10.08,162.34,11.350407,8.10,712,2699.958333,33667,73.2,0
4,14.26,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0

In [45]:
df_cat=df.select_dtypes("object")

In [46]:
df_cat.head()

,customer.id,credit.policy,purpose,inq.last.6mths,delinq.2yrs,paid.back.loan
0,LA001,Yes,debt_consolidation,Less than 5,No,Yes
1,LA002,Yes,credit_card,Less than 5,No,Yes
2,LA003,Yes,debt_consolidation,Less than 5,No,Yes
3,LA004,Yes,debt_consolidation,Less than 5,No,Yes
4,LA005,Yes,credit_card,Less than 5,Yes,Yes

In [47]:
df_cat.drop("customer.id",axis=1,inplace=True)

C:\Users\Admin\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [48]:
for col in df_cat:
    le=LabelEncoder()
    df_cat[col]=le.fit_transform(df_cat[col])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [49]:
df_new=pd.concat([df_num,df_cat],axis=1)

In [50]:
df_new.head()

,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,pub.rec,credit.policy,purpose,inq.last.6mths,delinq.2yrs,paid.back.loan
0,11.89,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,1,2,3,0,1
1,10.71,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,1,1,3,0,1
2,13.57,366.86,10.373491,11.63,682,4710.000000,3511,25.6,0,1,2,3,0,1
3,10.08,162.34,11.350407,8.10,712,2699.958333,33667,73.2,0,1,2,3,0,1
4,14.26,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,1,3,1,1

In [51]:
df_new.corr()["paid.back.loan"]

int.rate            -0.159552
installment         -0.049955
log.annual.inc       0.033439
dti                 -0.037362
fico                 0.149666
days.with.cr.line    0.029237
revol.bal           -0.053699
revol.util          -0.082088
pub.rec             -0.048634
credit.policy        0.158119
purpose             -0.047907
inq.last.6mths       0.128055
delinq.2yrs         -0.014833
paid.back.loan       1.000000
Name: paid.back.loan, dtype: float64

In [73]:
x=df_new.drop("paid.back.loan",axis=1)
y=df_new["paid.back.loan"]

In [78]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)
lr.score(x_test,y_test)

0.04723698798306797

In [76]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x_train,y_train)

clf.score(x_test,y_test)

0.743562978427279

In [77]:
y_pred=clf.predict(x_test)
r2_score(y_test,y_pred)

-0.8525410431802858

In [56]:
y_pred

array([1, 1, 1, ..., 1, 0, 1])

In [59]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score,confusion_matrix,classification_report

In [60]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.21      0.21      0.21       477
           1       0.84      0.84      0.84      2397

    accuracy                           0.74      2874
   macro avg       0.53      0.53      0.53      2874
weighted avg       0.74      0.74      0.74      2874